*{margin: 0; padding: 0; box-sizing: border-box; font-size: 2.4vh; text-decoration: none; font-family: sans-serif; }
#ramka{overflow: hidden; height: 100vh; width: 100vw; background-color: #ff0000;}
/*-----------------------------------------HEADER-----------------------*/
header{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#napis{
    display: flex;
    background-color: red;
    height: 15%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vh;
}
#baner{
    background-image: url("baner1.jpg");
    height: 85%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-position-y: -4vh;
    background-size: cover;
}
/*-----------------------------------------NAV-----------------------*/
nav{
    width: 100%;
    height: 5vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
nav a{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.2s;
    font-size: 2.5vh
}
.l2{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
nav a:hover{background-color: crimson;}
/*-----------------------------------------MAIN-----------------------*/
main{
    display: flex;
    background-color: rgb(228, 228, 228);
    height: 60vh;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    align-items: center;
    border-right: 2px solid black;
}
.przycisk{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 80%;
    height: 15%;
    border-radius: 15px;
    border: 2px solid black;
    color: white;
}
article{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.art{
    background-color: rgb(228, 228, 228);
    border: 2px solid black;
    border-radius: 1vh;
    padding: 0.4vh;
    width: 90%;
}
#obrazy{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid black;
}
.obraz{
    width: 75%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(7px 7px 5px black);
}
.ob1{
    background-image: url("flaga_pol.png");
    background-position-x: 3vh;
}
.ob2, #big_godlo{
    background-image: url("godlo1.png");
    background-position-x: 5vh;
    border-radius: 15px;
}
.ob3{
    background-image: url("polska1.png");
    filter: drop-shadow(2px 7px 10px black);
    background-position-x: 4vh;
}
#big_polska{display: none; position: absolute; top: 50%; margin-top: -22.5vh; left: 50%; margin-left: -23.5vh; filter: drop-shadow(3px 2px 10px black);}
#big_godlo{background-position-x: 0; width: 46.3vh; height: 54.9vh; position: absolute; background-size: contain; background-repeat: no-repeat; top: 50%; margin-top: -27.5vh; left: 50%; margin-left: -23vh; filter: drop-shadow(3px 2px 10px black); border-radius: 15px; display: none;}
/*-----------------------------------------FOOTER-----------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    height: 5vh;
    color: whitesmoke;
    background-color: red;
}
/*-----------------------------------------JQUERY-----------------------*/
#tlo{
    display: none;
    position: absolute;
    overflow: hidden;
    top: 45vh;
    left: 45vw;
    width: 5vw; height: 5vh;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 2;
    border-radius: 15px;
}
#tajne{
    display: none;
    opacity: 0;
    background-color: red;
    width: 5vw; height: 5vh;
    position: absolute;
    top: 50%; margin-top: -7.5vh;
    right: 5vw;
    border-radius: 15px;
}
.tekst{
    opacity: 0;
    position: absolute; top: 40vh; left:  50%; margin-left: -5vw;
    background-color: lightblue;
    width: 10vw; height: 10vh; overflow: hidden;
    border: 2px solid black; border-radius: 10px;
    z-index: 3;
}
#fp, #gp, #kp,#wroc{
    display: flex;
    opacity: 0;
    position: absolute; top: 80vh;
    background-color: lightblue;
    width: 10vw; height: 10vh;
    z-index: 2;
    justify-content: center;
    align-items: center;
    border: 2px solid black; border-radius: 10px;
}   
#wroc{
    left: 45vw;
    opacity: 1;
    height: 5vh;
    top: 110vh;
}
