*{padding: 0; margin: 0; box-sizing: border-box; font-family: Comic Sans MS, Comic Sans, cursive;}
#ramka{background-color: #a6d8cf; z-index: 1; width: 100vw; height: 100vh; display: none;}
#drzwi img{width: 13vw; position: absolute; left: 50%; margin-left: -6.5vw; top: 20vh; z-index: 10;}
#zamek img{width: 3vw; position: absolute; left: 44.8%; top: 43.8vh; z-index: 11;}
#kod{
    width:15vw; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 8vw;
    position: absolute;
    left: 50%;
    margin-left: -7.5vw;
    top: 72%;
}
#kodek{margin-top:0.5vw; text-align: center;}
button{width: 8vw ; margin-top: 0.5vw;}
#napis, p{color:white; text-shadow: 1px 1px 3px rgba(66, 68, 90, 1); font-size: 5vw; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center; opacity: 0; position: absolute; top: 0;}
p{font-size: 4vw;}
