*{margin: 0; padding: 0; font-family: Inter; box-sizing: border-box;}
a{font-style: none; text-decoration: none; color: #606060;}
nav{
    height: fit-content;
    width: 100vw;
    border-bottom: 0.05vw solid #dedfe5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
}
#logo{
    width: fit-content;
    display: flex;
    align-items: center;
}
#logo img{
    margin-right: 1vw;
}
#zstio{font-size: 16px;}
#miejsca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.linki{transition: 0.1s; padding: 0.5vw; }
.linki:hover{
    border-bottom: 0.3vw solid red;
}
